<h3>7日間分の投稿数</h3>
<table class="table table-bordered">
  <tr>
    <th>6日前</th>
    <th>5日前</th>
    <th>4日前</th>
    <th>3日前</th>
    <th>2日前</th>
    <th>1日前</th>
    <th>今日</th>
  </tr>
  <tr>
    <td><%= books_count.created_6days.count %></td>
    <td><%= books_count.created_5days.count %></td>
    <td><%= books_count.created_4days.count %></td>
    <td><%= books_count.created_3days.count %></td>
    <td><%= books_count.created_2days.count %></td>
    <td><%= books_count.created_yesterday.count %></td>
    <td><%= books_count.created_today.count %></td>
  </tr>
</table>
<canvas id="myChart"></canvas>
  <script>
    $(document).on('turbolinks:load', function() {
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
          datasets: [
            {
              label: '投稿した本の数',
              data: [
                <%= books_count.created_6days.count %>,
                <%= books_count.created_5days.count %>,
                <%= books_count.created_4days.count %>,
                <%= books_count.created_3days.count %>,
                <%= books_count.created_2days.count %>,
                <%= books_count.created_yesterday.count %>,
                <%= books_count.created_today.count %>
              ],
              borderColor: "rgba(0,0,255,1)",
              backgroundColor: "rgba(0,0,0,0)",
              tension: 0.4
            }
          ],
        },
        options: {
          animations: {
            Tension: {
              duration: 1000,
              easing: 'linear',
              from: 1,
              to: 0,
              loop: true
            }
          },
          title: {
            display: true,
            text: '7日間の投稿数の比較'
          },
          responsive: true,
          scales: {
            y:{
              suggestedMin: 0,
              suggestedMax: 10
            },
            x:{
              stacked: true
            },
          },
        }
      });
    });
  </script>